[Unit]
Description=TopStor remoteackservice
After=chronyd.service

[Service]
Type=forking
PIDFile=/var/run/topstorremoteack.pid
ExecStart=/bin/setsid /TopStor/Topstorremoteack.sh

[Install]
WantedBy=multi-user.target
